@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.robotto {
  font-family: "Roboto", sans-serif;
}
.saira-condensed-thin {
  font-family: "Saira Condensed", serif;
  font-weight: 100;
  font-style: normal;
}
.roboto-condensed-regular {
  font-family: "Roboto Condensed", serif;
  font-weight: normal;
  font-style: normal;
}
.roboto-condensed-bold {
  font-family: "Roboto Condensed", serif;
  font-weight: bold;
  font-style: normal;
}
.saira-condensed-extralight {
  font-family: "Saira Condensed", serif;
  font-weight: 200;
  font-style: normal;
}
.saira-condensed-light {
  font-family: "Saira Condensed", serif;
  font-weight: 300;
  font-style: normal;
}
.saira-condensed-regular {
  font-family: "Saira Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.saira-condensed-medium {
  font-family: "Saira Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.saira-condensed-semibold {
  font-family: "Saira Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.saira-condensed-bold {
  font-family: "Saira Condensed", serif;
  font-weight: 700;
  font-style: normal;
}

.saira-condensed-extrabold {
  font-family: "Saira Condensed", serif;
  font-weight: 800;
  font-style: normal;
}

.saira-condensed-black {
  font-family: "Saira Condensed", serif;
  font-weight: 900;
  font-style: normal;
}